@media screen and (max-width:1024px)
{
	.container{width:91%;}
	
	.banner-wrap{height:290px;}
	.banner-left img{width:106%; height:100%;}
	.banner-right img{width:93%; height:100%;}
	
	
	.photo>ul>li{width:21%;margin:2%;}
	.photo li:hover ul{transform:scale(1.4,1.4);}
	.more ul{width:95%;}
	.more li p{font-size:1rem; text-indent:2rem; height:139px;overflow:hidden;}
	
	/*3*/
	.blog-to img{ width:100%;}
}

@media screen and (max-width:768px)
{
	.nav li a{padding:7% 19px;}
	.banner-wrap{height:210px;}
	
	
	.photo li:hover ul{transform:scale(1.3,1.3);}
	.more ul{top:-166px;}
	.more li p{height:106px;}
	
	.good p{width:100%;}
	
	.latest h4{ margin-right:0%;margin-bottom:3%;}
	.late { margin-bottom:3%;}
}

@media screen and (max-width:736px)
{
	.header{ position:relative; padding:2.3% 0;}
	
	.nav{}
	.nav span{display:block;}
	.nav ul{display:none;position:absolute;width:100%;left:0;background-color:#8fbf00;margin-top:4.6%;z-index:10;transition:top .6s ease;}
	.nav li{float:none;text-align:center;font-size:1.7rem;margin:1.2%;}
	.nav li a{color:#FFF;}
	.nav li a{padding:1%;}
	.banner{padding:6% 0;}
	.banner-wrap{height:206px;}
	
	
}

@media screen and (max-width:667px)
{
	.banner-wrap{height:193px;}
	
	
	.more ul{top:-139px;}
	.more li p{height:69px;}
}

@media screen and (max-width:568px)
{
	.banner-wrap{height:176px;}
	
	
	.more li h4{ font-size:1rem;}
	.more li p{height:69px;}
}

@media screen and (max-width:480px)
{
	.banner-wrap{height:600px;}
	.banner-left{width:100%;height:63%;}
	.banner-right{width:100%;height:36%;}
	.banner-left img{width:100%;height:96%;}
	.banner-right img{width:100%;}
	
	
	.photo>ul>li{width:46%;margin:2%;}
	.photo li:hover ul{transform:scale(1.2,1.2);}
	.more ul{top:-199px;}
	.more li h4{ font-size:2rem;}
	.more li p{height:126px;}
}

@media screen and (max-width:414px)
{
	.top ul{width:52%;margin:0 auto;float:none;}
	.top li{padding:0 9px;}
	.search{display:none;}
	
	.nav li a{padding:2%;}
	
	.banner-wrap{height:560px;}
	
	
	.photo>ul>li{width:96%;}
	.photo li:hover ul{transform:scale(.9,.9);}
	.more ul{top:-369px;}
	.more li h4{font-size:2.3rem;}
	.more li p{height:100%;font-size:1.9rem;}
}

@media screen and (max-width:375px)
{
	.top ul{width:57%;}
	.nav li{font-size:1.6rem;}
	.banner-wrap{height:500px;}
	
	
	.more ul{top:-336px;}
	.more li p{font-size:1.7rem;}
}

@media screen and (max-width:320px)
{
	.top ul{width:67%;}
	.nav li{font-size:1.5rem;}
	.banner-wrap{height:430px;}
	
	
	.more ul{top:-294px;}
	.more li p{font-size:1.5rem;}
}